t/
dumps/desc-centroids/
dumps/desc-pos/
dumps/desc0/
charts/examples/
.idea/
results/
keras.history
charts/test_embeddings/
./models/
*.h5
venv/
t-stats/
bbuzz/
charts/
dumps/
data/
experiments/feature_selection
experiments/gen
experiments/kfold
explain/*-*
*.model
models/
raw-data/
*.xlsx